.canvas{
    color: white;
    margin: 3vh 0;
    padding: 15px;
    border-radius: 18px;
    width: 90vw;
    max-width: 800px;
    min-height: 90vh;
    background: linear-gradient(#091f55, #357cc7);
    border: 1px solid rgba(255, 255, 255, 0.38);
}